

<div class="container">
    <header>
        <h1>About Us</h1>
    </header>
    
    <main>
        <section class="about-section">
            <h2>Our Story</h2>
            <p>At Code Bin, our journey began with a simple yet powerful idea: to make managing code snippets as intuitive and efficient as possible. We recognized that developers, from novices to seasoned professionals, often struggle with keeping track of the myriad of code snippets, fragments, and projects they create or encounter.</p>
        </section>
        
        <section class="about-section">
            <h2>Our Mission</h2>
            <p>Our mission is to provide a robust and user-friendly environment for developers to organize their code snippets and projects. We aim to enhance productivity, encourage knowledge sharing, and support continuous learning in the coding community.</p>
        </section>
       
        <section class="about-section">
            <h2>Meet the Team</h2>
            <div class="team-member">
                <img src="assets/images/img.jpeg" alt="Team Member 1">
                <h3>Sanket Chougale</h3>
                <p>Co-Founder & CEO</p>
            </div>
            <div class="team-member">
                <img src="https://i.abcnewsfe.com/a/6aadc9db-ed2e-4ee4-8687-78dfbd965a0f/musk-1-rt-er-240116_1705422987959_hpMain_16x9.jpg?w=992" alt="Team Member 2">
                <h3>Elon Musk</h3>
                <p>Chief Operating Officer</p>
            </div>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 Company Name. All rights reserved.</p>
    </footer>
</div>



